@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

section {
    padding: 4rem 0 1.5rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.3%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
}

header.shadow {
    background: #131313;
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

header .shadow .navbar a {
    color: #fff;
}

.nav {
    display: flex;
}

.navbar h1 {
    display: none;
}

.navbar {
    display: flex;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    width: 80px;
    position: relative;
    list-style-type: none;
    margin-top: 5px;
    margin-left: 8px;
}

.navbar i {
    margin-right: 10px;
    display: none;
}

.navbar li a {
    background: transparent;
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: -50px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
}

.navbar li a:hover {
    background-color: rgba(255, 0, 0, 0.08);
}

.navbar li a.home-btn {
    background-color: #FF0000;
}

#menu-icon {
    width: 30px;
    cursor: pointer;
    color: #fff;
    z-index: 1000001;
    display: none;
}


header h1,
.footer h1 {
    color: #fff;
    font-weight: 900;
    padding-left: 20px;
}

.name a {
    text-decoration: none;
    color: #fff;
}

.btn_signin {
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    padding: 6px 16px;
    margin-left: 50%;
    margin-right: 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 0.4rem;
}

.btn_signin:hover {
    background: rgb(178, 0, 0);
}

header span,
.footer span {
    color: rgb(255, 0, 0);
    font-weight: 900;
    font-size: 30px;
}

.movies-slide {
    padding: 4.5rem 0 1.5rem;
}

.box {
    width: 100%;
    min-height: 690px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7, 0.4);
}

.box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: white !important;
    opacity: 1 !important;
    display: none !important;
}

.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: rgb(255, 0, 0) !important;
    display: none !important;
}

.genre {
    max-width: 100%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 80px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 10px;
}

.move {
    margin-left: 150px;
}

.home-text {
    color: #fff;
}

.home-text h4 {
    margin-top: 150px;
    margin-left: 150px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 4rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    font-weight: 800;
    text-align: left;
    overflow: hidden;
}

.home-text p {
    letter-spacing: 0.00938em;
    line-height: 1.5;
    margin-left: 150px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    overflow: hidden;
    width: 40%;
}

.home-text a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 8px 22px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: none;
    width: max-content;
    margin-left: 150px;
    margin-top: 30px;
}

.home-text i {
    margin-right: 10px;
}

.home-text a:hover {
    background-color: rgb(178, 0, 0);
}

.underline {
    border: 3.5px solid #FF0000;
    width: 7%;
    margin-left: 50px;
}

.heading {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    line-height: 1.334;
    font-weight: 700;
    margin-left: 50px;
    color: #fff;
}

.movies-container,
.series-container,
.topratedmovies-container,
.topratedseries-container {
    display: grid;
    gap: 0.5rem;
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));
}

.movies-container .container-img,
.series-container .container-img,
.topratedmovies-container .container-img,
.topratedseries-container .container-img {
    width: 108%;
    height: 450px;
}

.movies-container .container-img img,
.series-container .container-img img,
.topratedmovies-container .container-img img,
.topratedseries-container .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movies-container .container-img img:hover,
.series-container .container-img img:hover,
.topratedmovies-container .container-img img:hover,
.topratedseries-container .container-img img:hover {
    transform: translateY(0);
}

.movies-container .container,
.series-container .container,
.topratedmovies-container .container,
.topratedseries-container .container {
    width: 100px;
}

.container h5 {
    font-size: 18px;
    color: #fff;
    padding-top: 5px;
}

.overlay {
    position: absolute;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    transition: all 0.5s ease 0s;
    overflow: hidden;
    width: 110%;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text {
    padding-top: 340px;
    padding-left: 20px;
}

.overlay span,
.overlay h5 {
    color: #fff;
    padding-top: 20px;
}

.overlay i {
    background-color: #FF0000;
    color: #fff;
    position: absolute;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 200px;
}

.container:hover .overlay {
    height: 100%;
}

.footer {
    background-color: rgb(19, 19, 19);
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.social {
    margin-left: 78%;
    margin-top: 10px;
}

.social i {
    padding-left: 10px;
    color: #fff;
}

/*Laptop 1024*/
@media only screen and (max-width: 1024px) {
    header>.btn_signin {
        margin-left: 10%;
    }

    .navbar {
        margin-left: -150px;
    }

    .home-text h4 {
        font-size: 44px;
    }

    .home-text h4,
    .home-text .move,
    .home-text p,
    .home-text a {
        margin-left: 100px;
    }

    .movies-slide {
        max-height: 600px;
    }

    .heading {
        font-size: 25px;
        margin-left: 20px;
    }

    .underline {
        margin-left: 20px;
        width: 110px;
    }

    .movies-container,
    .series-container,
    .topratedmovies-container,
    .topratedseries-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    }

    .movies-container .container-img,
    .series-container .container-img,
    .topratedmovies-container .container-img,
    .topratedseries-container .container-img {
        height: 420px;
    }

    .social {
        margin-left: 70%;
    }
}

/*Tablet 768*/
@media only screen and (max-width: 768px) {
    header h1 {
        margin-left: -20%;
    }

    .home-text h4 {
        font-size: 40px;
    }

    .home-text h4,
    .home-text .move,
    .home-text p,
    .home-text a {
        margin-left: 50px;
    }

    .nav {
        margin-right: 80px;
    }

    #menu-icon {
        display: initial;
        margin-left: 2%;
    }

    .navbar i {
        display: initial;
    }

    .navbar h1 {
        display: initial;
    }

    .navbar {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -40px;
        background: #363636;
        flex-direction: column;
        padding-top: 70px;
        padding-left: 55px;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }

    .navname {
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar li {
        width: 140px;
        margin-top: 20px;
        margin-left: 40px;
    }

    .navbar a {
        display: flex;
    }

    .navbar.active {
        opacity: 1;
        left: 15%;
        pointer-events: fill;
    }

    .movies-container,
    .series-container,
    .topratedmovies-container,
    .topratedseries-container {
        grid-template-columns: repeat(auto-fit, minmax(600px, auto));
    }

    .footer {
        display: block;
    }

    .footer h1 {
        text-align: center;
    }

    .social {
        margin-left: 35%;
        margin-top: 20px;
    }

    .social i {
        margin-left: 20px;
    }

}

/*Mobile 425*/
@media only screen and (max-width: 425px) {
    header h1 {
        margin-left: -5px;
        font-size: 28px;
    }

    header span {
        font-size: 28px;
    }

    #menu-icon {
        margin-left: 5%;
    }

    .home-text p {
        width: 90%;
    }

    .home-text h4 {
        margin-top: 100px;
    }

    .home-text h4,
    .home-text .move,
    .home-text p,
    .home-text a {
        margin-left: 30px;
    }

    .movies-container,
    .series-container,
    .topratedmovies-container,
    .topratedseries-container {
        max-width: 400px;
        grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    }

    .social {
        margin-left: 23%;
        margin-top: 20px;
    }

    .navname {
        margin-right: 40px;
    }

    .navbar.active {
        opacity: 1;
        left: 28%;
        pointer-events: fill;
    }
}

/*Iphone 12 Pro*/
@media only screen and (max-width: 391px) {
    header>.btn_signin {
        margin-left: 5%;
    }
    .home-text h4{
        font-size: 32px;
    }
    .home-text p{
        font-size: 14px;
    }
    .home-text a{
        font-size: 14px;
    }
    .movies-slide{
        max-height: 500px;
    }
    .box{
        height: fit-content;
    }
    .social{
        margin-left: 20%;
        margin-top: 20px;
    }
}